.main{
    width:100%;
    height:auto;
    background-image: linear-gradient(to left, lightblue, white, lightblue);
}
.courses{
    width:90%;
    height:100vh;
    padding:8% 0;
   margin:0 5% 0 5%;
}
.heading-c{
    padding-top:5%;
    text-align: center;
    font-size:2.5vw;
}
.courses-grid{
  
    display: grid;
    grid-template-columns: auto auto auto;
}


.course{
    /*height:35vw;*/
    /*background-color:crimson;
     border:2px solid green;*/
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
     margin:0 1vw;
     display:flex;
    flex-direction: column;
}
@media (max-width:988px)
{
    .courses{
        width:90%;
        height:160vh;
       padding:8% 0;
       margin:0 5% 0 5%;
    }
    .course{
       width:40%;
      margin:0 auto 5% auto;
    }
    .courses-grid{
        grid-template-columns: auto;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:3vw;
    }
}
.course-outer{
    width:100%;
    /*height:100%;*/
   padding:3%;
   flex:1 1 auto;
   display:flex;
    
}
.course-content{
    width:100%;
   /* height:100%;*/
    flex:1 1 auto;
    display:flex;
    flex-direction: column;
   /* background-color: green;*/
}
.course-content h3{
    flex:1 1 auto;
   /* height:20%;*/
    width:100%;
    margin-bottom:3%;
    font-size:30px;
}
.course-content-inside1{
    flex:1 1 auto;
    display:flex;
    flex-direction: column;
  /*height:40%;*/
  width:100%;
  margin-bottom: 3%;
}
.course-content-inside1 ul{
    flex:1 1 auto;
    display:flex;
    flex-direction: column;
    width:100%;
   /* height: 100%;*/
    list-style: disc outside;
    padding-top:5%;
    padding-left:12%;

}
ul li ::marker{
    color: black;
    font-size: 10px;
    font-weight:bolder;
}
ul li{
    flex:1 1 auto;
    margin-top:2%;
}
.course-content-inside2{
   /* flex:1 1 auto;*/
    display:flex;
    flex-direction: column;
   /* height:19%;*/
    width:100%;
    margin-top:8%;
}
.course-content-inside2-regis{
    width:100%;
    flex:1 1 auto;
    /*height: auto;*/
    font-size: 15px;
    color:grey;
}
.details{
   /* flex:1 1 auto;*/
    width:100%;
    margin-top:2%;
    display:flex;
    
   /* height:auto;*/

}
.button {
    background-color: #2f62da;
    border: none;
    color: white;
    padding: 10px 1.5vw ;

    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    cursor: pointer;
    border-radius: .5vw;
  }
  .price{
      margin-left:auto;
  }
  .price-orginal{
      text-decoration: line-through;
     
  }
 
  .percent{
       text-align: center;
      color:rgb(58, 231, 81)
  }
@media (max-width:870px)
{
    .course{
        width:50%;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:3.5vw;
    }
}
@media (max-width:650px)
{
    .course{
        width:60%;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:4vw;
    }
}
@media (max-width:530px)
{
    .course{
        width:70%;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:4.4vw;
    }
    .course-content h3{
        font-size: 4.5vw;
    }
}
@media (max-width:455px)
{
    .course{
        width:80%;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:5vw;
    }
}
@media (max-width:380px)
{
    .course{
        width:90%;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:6vw;
    }
}
@media (max-width:350px)
{
    .course{
        width:100%;
    }
    .heading-c{
        padding-top:5%;
        text-align: center;
        font-size:6vw;
    }
}