.details {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-bottom:2%;*/
}
.details {
  flex: 1 1 auto;
  width: 100%;
  margin-top: 2%;
  display: flex;

  /* height:auto;*/
}
.details-mentor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5%;
}
.details-mentor {
  flex: 1 1 auto;
  width: 100%;
  margin-top: 2%;
  display: flex;

  /* height:auto;*/
}
.button {
  background-color: #5775bb;
  border: none;
  color: white;
  padding: 10px 1.5vw;

  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  border-radius: 1vw;
  transition: all 450ms ease;
}

.button:hover{
  background: rgb(35, 35, 91);
}
.imageiitbhu {
  width: 100%;
  height: auto;
  position: relative;
}
.imageiitbhu img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 865px) {
  .imageiitbhu {
    height: 50vw;
  }
}
.imageiitbhu h3 {
  position: absolute;
  left: 8%;
  top: 40%;
  font-size: 3vw;
  color: #ffffff;
}
.imageiitbhu h5 {
  position: absolute;
  left: 8%;
  top: 50%;
  font-size: 1.5vw;
  color: #ffffff;
}
.iit-bhu-details {
  position: absolute;
  left: 8%;
  top: 60%;
}
.container2 {
  padding-top: 10px;
}
#container2-heading {
  font-size: 38px;
  font-weight: 500;
}
.c-mentors {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
#c-isa1 {
  background: linear-gradient(
    0deg,
    rgba(244, 244, 247, 1) 10%,
    rgba(204, 208, 218, 1) -1%
  );
}

.c-isa {
  text-align: center;
  font-size: 30px;
  background-color: lightgray;
}
.c-isa1 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  background-color: lightgray;
}

#isa-heading4 {
  padding-bottom: 0;
}
#timeline-heading4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-size: 38px;
}
.heading4 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 500;
}
.container1 {
  padding: 0;
  width: 100%;
  background-color: lightgray;
  height: 55vh;
  min-height: 50vh;
  display: flex;
}
.isa-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.isa-right {
  width: 50%;
  height: 100%;
}

.isa-right img {
  height: 100%;
  display: block;
  margin: auto;
  width: 100%;
}

.isa-content {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
}
.isa-content p {
  font-size: 25px;
  color: black;
}
.d1 {
  background-color: lightgray;
  margin-top: 0;
  padding-bottom: 1%;
}

.d2 {
  background-color: #a2b9cf;
  margin-top: 0;
  padding-bottom: 1%;
}

/*timeline*/
#timeline-1 {
  background-color: #a2b9cf;
}

.faq {
  background-color: whitesmoke;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3 ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  /* content: "\f075"; */
  font-family: "Font Awesome 5 Free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
  color: #540a91;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
  color: rgb(41, 40, 40);
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: gray;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

.faq-container {
  max-width: 1000px;
  margin: 0 auto;
}

li {
  list-style: disc;
}

body {
  /*padding-top: 65px; */
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-bottom:2%;*/
}
.details {
  flex: 1 1 auto;
  width: 100%;
  margin-top: 2%;
  display: flex;

  /* height:auto;*/
}
.details-mentor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
  margin-bottom: 0;
}
.details-mentor {
  flex: 1 1 auto;
  width: 100%;
  margin-top: 0;
  display: flex;
  background-color: #a2b9cf;

  /* height:auto;*/
}


@media (min-width:650px)
{
  .button{
    margin-top: 4.11rem;
  }
}
.test-offer-container {
  background-color: lightgray;
}
.imageiitbhu {
  width: 100%;
  height: auto;
  position: relative;
}
.imageiitbhu img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
.imageiitbhu h3 {
  position: absolute;
  left: 8%;
  top: 40%;
  font-size: 3vw;
  color:#646060;;
}
.imageiitbhu h5 {
  position: absolute;
  left: 8%;
  top: 50%;
  font-size: 1.5vw;
  color: #ffffff;
}
.iit-bhu-details {
  position: absolute;
  left: 8%;
  top: 60%;
}
.container2 {
  padding-top: 10px;
}

@media (max-width: 1100px) {
  .test-offer-container {
    height: 40vw;
  }
  .offer-image img {
    width: 100%;
    margin-top: 9%;
  }
}
@media (max-width: 850px) {
  .test-offer-container {
    height: 50vw;
  }
  .offer-image img {
    width: 100%;
    margin-top: 9%;
  }
}
@media (max-width: 704px) {
  .test-offer-container {
    margin-top: 60%;
    height: 40vw;
  }
  .offer-image img {
    /* display: none;*/
    width: 65%;
    margin-top: 9%;
  }
  .container1 {
    height: 100vh;
    flex-direction: column;
  }
}

.offers h3 {
  text-align: center;
}
#container2-heading {
  font-size: 38px;
  font-weight: 500;
}
.c-mentors {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  background-color: #a2b9cf;
}
.mentor-section {
  background-color: #a2b9cf;
}
.c-isa {
  text-align: center;
  font-size: 30px;
  background-color: lightgray;
}
.c-isa1 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  background-color: lightgray;
}

#isa-heading4 {
  padding-bottom: 36px;
}
#timeline-heading4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-size: 38px;
}
.heading4 {
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 600;
}
.container1 {
  padding: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(244, 244, 247, 1) 10%,
    rgba(204, 208, 218, 1) 135%
  );
  height: 52vh;
  min-height: 50vh;
  display: flex;
}
.isa-left {
  width: 50%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.isa-right {
  width: 50%;
  height: 95%;
}

@media(min-width:1988px){
  .isa-right{
    width: 36%;
  }
}

.isa-right img {
  height: 87%;
  display: block;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid black;
  box-shadow: 1px 2px 18px rgb(233, 221, 221);
}

@media (min-width: 640px) {
  .isa-right img {
    height: 67%;
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 4rem;
  }
}

@media (min-width:1988px){
  .isa-right img{
width: 50%;
height: 70%;
} 
  .isa-right{
    width: 40%;
  }
}

@media (min-width:2500px){
  .isa-right img{
    width: 38%;
    height: 80%;
  }
}
}
.isa-content {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
}
.isa-content p {
  font-size: 17.5px;
  color: #5a4f4f;
  font-weight: 550;
  margin-top: 0rem;
  text-align: justify;
}

@media (min-width: 1000px) {
  .isa-content p {
    font-size: 24px;
    text-align: revert;
  }
}
@media (max-width: 704px) {
  .container1 {
    height: 95vh;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .isa-left {
    width: 70%;
    margin: 0 13% 0 17%;
  }
  .isa-right {
    margin: 0 auto;
  }
}

.d1 {
  background-color: rgb(240 240 242);
  margin-top: 0;
  padding-bottom: 2.4%;
}

.d2 {
  background-color: #a2b9cf;
  margin-top: 0;
  padding-bottom: 1%;
}

/*timeline*/
#timeline-1 {
  background-color: #a2b9cf;
}
@media (max-width: 1099px) {
  #card3 {
    display: none !important;
  }
}
/*.button{
    background: white;
    color: black;
    font-weight: 700;
    border: 0px solid navy;
    border-radius: 16px;
    border: 3px solid rgb(11, 11, 91);
    transition: all 450ms ease;
    padding: 5px;
    font-size: 0.9rem;
}

.button:hover{
  background: rgb(203, 203, 224);
  color: white;
}*/
#but{

  color: rgb(245, 239, 239);
}

/*@media (max-width: 704px) {
  .button {
    padding: 1.5vw 2vw;
    height: 8vw;
    font-size: 3vw;
    margin-top: 1rem;
  }*/
  @media (max-width: 704px) {
    #but {
    /*  padding: 1.5vw 2vw;
      height: 8vw;
      font-size: 3vw;*/
      margin-top: 4rem;
    }}
    @media (max-width: 330px){
.button {
    padding: 2.5vw 5vw;
    height: 11.5vw;
    font-size: 6vw;
}}

@media (max-width: 385px){
.button {
    padding: 2.5vw 5vw;
    height: 10vw;
    font-size: 6vw;
}}
@media (max-width: 400px){
.button {
    padding: 2.5vw 5vw;
    height: 10vw;
    font-size: 6vw;
}}
@media (max-width: 425px){
.button {
    padding: 2vw 4vw;
    height: 9vw;
    font-size: 5vw;
}}
@media (max-width: 704px){
.button {
    padding: 1.5vw 2vw;
    height: 6vw;
    font-size: 3vw;
}}

@media (max-width: 430px) {
  #reg{
    margin-top: 1rem;
  }
  
}
/*
.button {
    background-color: #5775bb;
    border: none;
    color: white;
    padding: 10px 1.5vw;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    border-radius: 1.2vw;
}
*/
  .imageiitbhu {
    height: 55vw;
  }
  .imageiitbhu img {
    height: 100%;
  }
  .imageiitbhu h3 {
    top: 40%;
    font-size: 5vw;
  }
  .imageiitbhu h5 {
    top: 53%;
    font-size: 2vw;
  }
  .iit-bhu-details {
    top: 65%;
  }
}

@media (max-width: 550px) {
  .imageiitbhu {
    height: 60vw;
  }
}
@media (max-width: 650px) {
  .test-offer-container {
    margin-top: 75%;
  }
  .isa-right {
    width: 60%;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }
}
@media (max-width: 600px) {
  .imageiitbhu h3 {
    top: 35%;
    font-size: 5vw;
  }
  .imageiitbhu h5 {
    top: 49%;
    font-size: 2.5vw;
  }
  .iit-bhu-details {
    top: 65%;
  }
}
@media (max-width: 480px) {
  .test-offer-container {
    margin-top: 80%;
  }
}
@media (max-width: 448px) {
  .test-offer-container {
    margin-top: 85%;
  }
}
@media (max-width: 405px) {
  .test-offer-container {
    margin-top: 90%;
  }
}
@media (max-width: 385px) {
  .test-offer-container {
    margin-top: 95%;
  }
}
@media (max-width: 370px) {
  .test-offer-container {
    margin-top: 100%;
  }
  .imageiitbhu h3 {
    top: 40%;
    font-size: 7vw;
  }
  .imageiitbhu h5 {
    top: 57%;
    font-size: 3vw;
  }
  .iit-bhu-details {
    top: 73%;
  }
}
@media (max-width: 340px) {
  .test-offer-container {
    margin-top: 105%;
  }
}
@media (max-width: 318px) {
  .test-offer-container {
    margin-top: 110%;
  }
}

@media (min-width: 1100px) {
  .test-offer {
    margin-right: 0;
    margin-left: 20%;
  }
  #offers h3 {
    padding-left: 10%;
  }
  .test-offer h3 {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  /*
#offers h1{
  font-size: 7vw;
  }*/
} /*
@media (min-width:900px)
{
.main{
  width:80%;
  margin:0 auto;
}
}*/
@media (max-width: 450px) {
  .imageiitbhu {
    height: 70vw;
  }
  .imageiitbhu h3 {
    top: 50%;
  }
  .imageiitbhu h5 {
    top: 62%;
  }
  .iit-bhu-details {
    top: 70%;
  }
}
