/* @import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ranchers&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 8vh;
  background-image: linear-gradient(to left, lightgray, lightblue);
}
.cover-section {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.cover-section h1 {
  /* margin-top: 20px;
  font-size: 3.125rem;
  font-weight: 500;
  color: #000; */
  text-align: center;
  font-size: 40px;
  margin: 30px;
  color: black;
}

.cover-section p {
  width: 60%;
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  margin: 10px auto;
}

.cover-section img {
  width: 60%;
  height: auto;
  border-radius: 1em;
}

.how-isa-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding-top: 7rem; */
  /* background-color: rgb(20, 39, 78); */
  background-image: linear-gradient(to right, lightblue, lightgray);
  color: white;
}

.numbered-heading {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 20px 40px;
}

.number-list {
  font-size: 2.4rem;
  padding: 0.3rem 1rem;
  margin-right: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

.how-isa-works h1 {
  margin-top: 30px;
  font-size: 3.125rem;
  font-weight: 500;
  text-align: center;
  color: black;
}

.isa-explanation {
  width: 100%;
  margin: 10px;
  display: flex;
  /* padding: 20px; */
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

h3.isa-heading {
  text-align: center;
  font-size: 1.8rem;
  margin: 10px 0;
  font-weight: 600;
  padding-bottom: 40px;
  /* padding-top: 50px; */
  /* color: rgba(50, 224, 196, 0.6); */
  color: black;
  text-shadow: 0.5px 0.5px 2px rgba(50, 224, 196, 0.2);
}

.isa-explanation p {
  line-height: 2;
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
  width: 60%;
  color: #fff;
}

.colored {
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: black;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: rgba(20, 39, 78, 0.6); */
  /* background-color: white; */
  background-image: linear-gradient(to right, lightblue, lightgray);
}

.card {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: -40px;
  height: 40px;
  opacity: 0.75;
  background-color: rgb(5, 5, 5);
  padding: 5px;
}

.card:hover,
.clicked {
  transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.payment-container {
  margin: 50px;
  /* background: rgba(9, 20, 44, 0.6); */
  /* background-color: gray; */
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 2em;
  background-image: linear-gradient(to right, black, gray);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  height: 100px;
  padding: 0;
}

@media (max-width: 600px) {
  .container {
    width: 425px;
  }
}

.container.hidden {
  display: none;
}

.pay-1,
.pay-2,
.pay-3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
}

.pay-2 {
  font-weight: 400;
}

/* span {
  font-family: "Ranchers", cursive;
} */
@media (max-width: 600px) {
  pay-1,
  .pay-2,
  .pay-3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 460px) {
  .container {
    width: 350px;
  }
  .pay-1,
  .pay-2,
  .pay-3 {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .container {
    width: 300px;
    border-radius: none;
  }
  .pay-1,
  .pay-2,
  .pay-3 {
    font-size: 1rem;
  }
}

/************* ISA LIST  ***********/
.gen-info-isa {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul.isa-list {
  list-style-type: circle;
  line-height: 2;
  font-size: 1.1rem;
  /* padding-left: 200px; */
  font-family: "Ubuntu", sans-serif;
  margin-left: 0;
  position: relative;
  width: 80%;
  padding-bottom: 40px;
}

ul.isa-list li {
  padding: 10px 5px;
  padding-left: 100px;
  height: 90px;
  margin: 10px 5px;
  background-image: linear-gradient(to right, lightgray, white);
  color: black;
  border-radius: 50px 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul.isa-list li::before {
  content: "\25CF";
  color: rgba(0, 0, 0, 0.5);
  /* z-index: -1; */
  font-size: 150px;
  position: absolute;
  transform: translate(-100px, -10px);
}

.underline {
  width: 17%;
  text-align: center;
  height: 3px;
  margin: 30px auto;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 1200px) {
  ul.isa-list {
    line-height: 1.6;
    font-size: 1.07rem;
  }
}

@media (max-width: 900px) {
  ul.isa-list {
    /* padding-left: 7rem; */
    line-height: 1.2;
    font-size: 1rem;
    width: 85%;
  }
}

@media (max-width: 460px) {
  ul.isa-list {
    /* padding-left: 0.5rem; */
    width: 98%;
    line-height: 1.056;
    font-size: 0.88rem;
  }
  ul.isa-list li::before {
    /* font-size: 120px; */
    transform: translate(-85px, -10px);
  }
  ul.isa-list li {
    padding-left: 80px;
    height: 95px;
  }
}

@media (max-width: 320px) {
  ul.isa-list li {
    height: 100px;
  }
}
/* faq */
h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 1000px;
  margin: 0 auto;
}

.faq {
  background-color: whitesmoke;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3 ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  /* content: "\f075"; */
  font-family: "Font Awesome 5 Free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

@media (max-width: 1200px) {
  .cover-section p, .cover-section img {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .cover-section p, .cover-section img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .cover-section p, .cover-section img {
    width: 90%;
  }
}