*{
    margin: 0px;
    padding: 0px;
   }

   body {
    background-image: linear-gradient(to left, lightgray, lightblue);
    margin-top: 10vh;
   }

   .mentor-section {
       display: grid;
       grid-template-columns: auto auto auto auto;
       justify-content: space-around;
   }

   @media (max-width:1100px) {
       .mentor-section {
            grid-template-columns: auto auto;
       }
   }

   @media (max-width: 768px) {
       .mentor-section {
           grid-template-columns: auto;
       }
   }

   .card{
    background-color: #f4f3f3;
    width: 275px;
    height: 300px;
    text-align: center;    
    border-radius: 10px;
    margin: 30px 0 30px 0;
   }
   
   .card-background{
    background: linear-gradient(to right, #009688, #4CAF50);
    height: 120px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
   
   .card-image{
    border-radius: 50%;
    width: 120px;
    height: auto;
    position: relative;
    top: 60px;
    border: 6px solid #f4f3f3;
   }
   
   .card-info{
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 5px;
   }
   .card-info h1 {
       margin-bottom: 10px;
   }
   
   .fa{
    color: grey;
    font-size: 20px;    
    cursor: pointer;
   }
   
   .fa:hover{
    color: #524b4b;
   }
   
   h1{
    color: #009688; 
   }
   
   p{
    color: grey;
   }

   .mentor-intro h1 {
        text-align: center;
        font-size: 40px;
        margin:  30px;        
        margin-top: 100px;
        color: black;
   }

   .mentor-intro ol {
        width: 60%;
        margin: auto;        
   }

   .mentor-intro li {
       font-size: 18px;
       margin: 10px;
       padding-left: 10px;
       padding-bottom: 5px;
   }