* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 8vh;
  background-image: linear-gradient(to left, lightgray, lightblue);
}
.test-container {
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}
.test-container h1 {
  text-align: center;
  font-size: 40px;
  margin: 30px;
  color: black;
}
.test-container h2 {
  text-align: center;

  margin: 30px;
  color: black;
}

.test-links {
  height: auto;
  width: 60%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.test {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to left, #105daa, #a8c1da);
  margin-top: 10px;
  border-radius: 10px;
}

.test h3 a {
  color: white;
  text-decoration: none;
}
.test-underline {
  width: 17%;
  text-align: center;
  height: 3px;
  margin: 10px auto;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
}
@media (max-width: 644px) {
  .test-links {
    width: 100%;
  }
}
.text-video {
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  display: flex;

  align-items: center;
}
.c-video {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.videos {
  margin-top: 10px;
}
img {
  width: 260px;
  height: 315px;
}
img:hover {
  opacity: 0.5;
}
@media (max-width: 644px) {
  .text-video {
    margin-top: 0;
  }
  .c-video {
    margin-top: 50px;
  }
  .container-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .container-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container-pdf {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 502px) {
  img {
    width: 100vw;
  }
}
@media (max-width: 1160px) {
  .text-video {
    flex-direction: column;
    height: 100vh;
  }
  .c-video {
  }
}
.test-offer-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.test-offer-container h1 {
  text-align: center;
  font-size: 40px;
  margin: 30px;
  color: black;
}
.test-offer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.test-offer h2 {
  height: 8vh;
  width: 100%;
  background-color: #7ea0c2;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 644px) {
  .text-video {
    margin-bottom: 100px;
  }
  .test-offer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
